<a href="https://colab.research.google.com/github/Mirsha-RG/tallerprograma2/blob/main/Dia_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hola Panchis")

Hola Panchis

#cancion

[texto del enlace](https://)

In [2]:
precio  = 7
cantidades = 230
costos_totales = 500
ingreso = precio*cantidades
utilidad = ingreso - costos_totales
cu = costos_totales/cantidades
cu

2.1739130434782608

In [3]:
vi = 70
r = 0.14
n = 14
vf = vi * ((1 + r)**n)
vf

438.29443726943794

In [4]:

import math

resulta que yo le voy a prestar 60 dólares a a judith a una tasa del 6% mensual pero quiero saber en cuanto tiempo (meses=¿?) me va a a devolver el doble de lo que le presté???

In [5]:
LAMBDA  = 2
r = 0.06
math.log(LAMBDA)/ math.log(1 + r)

11.895661045941875

In [6]:
nacimiento = 1998
actual = 2025
edad = actual - nacimiento
if edad > 30:
  print("milenial, edad")
else:
 print("gen z", edad)

gen z 27

In [7]:
peso = [3.1, 2.8, 2.7, 3.5]

peso[2]

2.7

In [8]:
peso.append(1.8)
peso

[3.1, 2.8, 2.7, 3.5, 1.8]

In [9]:
peso.append(True)
peso

[3.1, 2.8, 2.7, 3.5, 1.8, True]

In [10]:
for w in peso:
  w - 0.3
  print(w)

3.1
2.8
2.7
3.5
1.8
True

In [11]:
for w in peso:
  print(w-1)
  print(w+3)
  print(w+1)

2.1
6.1
4.1
1.7999999999999998
5.8
3.8
1.7000000000000002
5.7
3.7
2.5
6.5
4.5
0.8
4.8
2.8
0
4
2

In [12]:
actaul = []
for w in peso:
  actaul.append(w + 1)

In [13]:
for num in list(range(10)):
  print(num-3)
  if num == 6:
    print("six")

-3
-2
-1
0
1
2
3
six
4
5
6

In [14]:
for n in range(6, 23):
  print (n)
  if n % 2 == 0:
    print("par")

6
par
7
8
par
9
10
par
11
12
par
13
14
par
15
16
par
17
18
par
19
20
par
21
22
par

In [15]:
pares = []
impar = []

for n in range(6, 23):
  if n % 2 == 0:
    pares.append(n)
  else:
    impar.append(n)

print(pares)
print(impar)

[6, 8, 10, 12, 14, 16, 18, 20, 22]
[7, 9, 11, 13, 15, 17, 19, 21]

In [16]:
datos  = [0, 3, 4, 1]
acum = 0
conteo = 0
for i in datos:
  acum = acum + i
  conteo = conteo + 1
acum/conteo

2.0

In [17]:
datos = [2, 6, 19, 20, 5]
n = 5

if n in datos:
  print(True)

else:
  print (False)

True

In [18]:
lista=[1,23,3,4,23]
n=9

flag=0
for i in lista:
   if i == n :
    flag +=1

if flag >= 1 :
 print(f"El numero {n} esta en  la lista y tiene {flag} coincidencias")
else:
 print(f"EL numero {n} no esta en la lista")

EL numero 9 no esta en la lista

In [19]:
total = 0
for n in range(10):
  total += n
  print(total)
print(total)

0
1
3
6
10
15
21
28
36
45
45

In [20]:
total = 1
for n in range(1, 10):
  total *= n
  print(total)

print(total)

1
2
6
24
120
720
5040
40320
362880
362880

In [21]:
n = 10
factorial = 1
for i in range (n):
  factorial *= i+1
print(factorial)

3628800

In [22]:
n = 20
primo = True

if n/n >= 1:
  primo = False

else:
  print("El numero no es primo")

In [23]:
i = 31
divisible = 0
for numero in range(1, (i+1)):
  if i % numero == 0:
    divisible = divisible + 1

if divisible > 2:
  print('no es primo')
else:
  print('si es primo')

si es primo

In [24]:
num = 13

while num != 1:
  print(num)
  if num % 2 == 0:
    num = num / 2
  else:
    num = num * 3 + 1

print(num)

13
40
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0

In [25]:
n = 111

while n != 1:
    if n % 2 == 0:
        n = n // 2
        print(n)
    else:
        n = 3 * n + 1

print(n)

167
251
377
566
283
425
638
319
479
719
1079
1619
2429
3644
1822
911
1367
2051
3077
4616
2308
1154
577
866
433
650
325
488
244
122
61
92
46
23
35
53
80
40
20
10
5
8
4
2
1
1